In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
.master("local[2]") \
.appName("Read From File") \
.getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/manual/spark-3.1.1-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
2023-02-18 10:47:08,909 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
! wget -P /home/train/datasets/ \
https://raw.githubusercontent.com/erkansirin78/datasets/master/Mall_Customers.csv

--2023-02-18 10:48:51--  https://raw.githubusercontent.com/erkansirin78/datasets/master/Mall_Customers.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4365 (4.3K) [text/plain]
Saving to: ‘/home/train/datasets/Mall_Customers.csv’

100%[======================================>] 4,365       --.-K/s   in 0s

2023-02-18 10:48:52 (10.4 MB/s) - ‘/home/train/datasets/Mall_Customers.csv’ saved [4365/4365]

# Read Data

In [13]:
df = spark.read \
.format("csv") \
.option("header", True) \
.option("sep", ",") \
.option("inferSchema", True) \
.load("file:///home/train/datasets/Mall_Customers.csv")

In [14]:
df.show()

+----------+------+---+------------+-------------+
|CustomerID|Gender|Age|AnnualIncome|SpendingScore|
+----------+------+---+------------+-------------+
|         1|  Male| 19|       15000|           39|
|         2|  Male| 21|       15000|           81|
|         3|Female| 20|       16000|            6|
|         4|Female| 23|       16000|           77|
|         5|Female| 31|       17000|           40|
|         6|Female| 22|       17000|           76|
|         7|Female| 35|       18000|            6|
|         8|Female| 23|       18000|           94|
|         9|  Male| 64|       19000|            3|
|        10|Female| 30|       19000|           72|
|        11|  Male| 67|       19000|           14|
|        12|Female| 35|       19000|           99|
|        13|Female| 58|       20000|           15|
|        14|Female| 24|       20000|           77|
|        15|  Male| 37|       20000|           13|
|        16|  Male| 22|       20000|           79|
|        17|Female| 35|       21000|           35|
|        18|  Male| 20|       21000|           66|
|        19|  Male| 52|       23000|           29|
|        20|Female| 35|       23000|           98|
+----------+------+---+------------+-------------+
only showing top 20 rows

In [15]:
df.printSchema()

root
 |-- CustomerID: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- AnnualIncome: integer (nullable = true)
 |-- SpendingScore: integer (nullable = true)

In [18]:
df.count()

200

In [16]:
df_pd = df.limit(5).toPandas()

In [17]:
df_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerID     5 non-null      int32
 1   Gender         5 non-null      object
 2   Age            5 non-null      int32
 3   AnnualIncome   5 non-null      int32
 4   SpendingScore  5 non-null      int32
dtypes: int32(4), object(1)
memory usage: 248.0+ bytes

In [19]:
df.limit(5).toPandas()

   CustomerID  Gender  Age  AnnualIncome  SpendingScore
0           1    Male   19         15000             39
1           2    Male   21         15000             81
2           3  Female   20         16000              6
3           4  Female   23         16000             77
4           5  Female   31         17000             40

In [15]:
spark.stop()