In [2]:
from pyspark.sql.functions import *
from pyspark.sql import Window

In [3]:
from pyspark.sql import SparkSession, functions as F
from pyspark.sql.types import StructType, StructField, DoubleType, StringType, IntegerType, DateType, ArrayType, FloatType

In [4]:
spark = SparkSession.builder \
.master("local[2]") \
.appName("OrderStatusCheck") \
.getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/manual/spark-3.1.1-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
2023-03-01 21:13:14,173 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [5]:
# Read the input file
df = spark.read \
.format("csv") \
.option("header", True) \
.option("sep", ",") \
.option("inferSchema", True) \
.load("file:///home/train/dataops7/spark/hw4_OrderStatus/OrderStatusData.csv")

In [6]:
df.show()

+--------+-------------+-----------+-----------+---------+
|ORDER_ID|SUBSCRIBER_ID|STATUS_DATE|STATUS_TIME|   STATUS|
+--------+-------------+-----------+-----------+---------+
|  100159|       200427|   20230223|      83209| ASSIGNED|
|  100159|       200427|   20230223|      74232| RETURNED|
|  100159|       200427|   20230222|      95056|  CREATED|
|  100410|       200366|   20230223|      91017| ASSIGNED|
|  100410|       200366|   20230223|      30301| RETURNED|
|  100410|       200366|   20230222|      93638|  CREATED|
|  100497|       200024|   20230222|     105418|     POOL|
|  100497|       200024|   20230222|     105418|  CREATED|
|  100539|       200012|   20230222|     112855|COMPLETED|
|  100539|       200012|   20230222|      95408|  CREATED|
|  100575|       200573|   20230223|      85951| ASSIGNED|
|  100575|       200573|   20230223|      41932| RETURNED|
|  100575|       200573|   20230222|     105441|  CREATED|
|  100259|       200192|   20230223|      83115| ASSIGNED|
|  100259|       200192|   20230222|      94751|  CREATED|
|  100563|       200421|   20230223|      82133| ASSIGNED|
|  100563|       200421|   20230223|      74734| RETURNED|
|  100563|       200421|   20230222|      94100|  CREATED|
|  100230|       200049|   20230222|     182650|COMPLETED|
|  100230|       200049|   20230222|     161234| RETURNED|
+--------+-------------+-----------+-----------+---------+
only showing top 20 rows

In [7]:
# Convert the date and time columns to timestamps
df = df.withColumn("STATUS_DATETIME", to_timestamp(concat_ws(" ", df.STATUS_DATE, df.STATUS_TIME), "yyyyMMdd Hmmss"))

In [8]:
df.show()

+--------+-------------+-----------+-----------+---------+-------------------+
|ORDER_ID|SUBSCRIBER_ID|STATUS_DATE|STATUS_TIME|   STATUS|    STATUS_DATETIME|
+--------+-------------+-----------+-----------+---------+-------------------+
|  100159|       200427|   20230223|      83209| ASSIGNED|2023-02-23 08:32:09|
|  100159|       200427|   20230223|      74232| RETURNED|2023-02-23 07:42:32|
|  100159|       200427|   20230222|      95056|  CREATED|2023-02-22 09:50:56|
|  100410|       200366|   20230223|      91017| ASSIGNED|2023-02-23 09:10:17|
|  100410|       200366|   20230223|      30301| RETURNED|2023-02-23 03:03:01|
|  100410|       200366|   20230222|      93638|  CREATED|2023-02-22 09:36:38|
|  100497|       200024|   20230222|     105418|     POOL|2023-02-22 10:54:18|
|  100497|       200024|   20230222|     105418|  CREATED|2023-02-22 10:54:18|
|  100539|       200012|   20230222|     112855|COMPLETED|2023-02-22 11:28:55|
|  100539|       200012|   20230222|      95408|  CREATED|2023-02-22 09:54:08|
|  100575|       200573|   20230223|      85951| ASSIGNED|2023-02-23 08:59:51|
|  100575|       200573|   20230223|      41932| RETURNED|2023-02-23 04:19:32|
|  100575|       200573|   20230222|     105441|  CREATED|2023-02-22 10:54:41|
|  100259|       200192|   20230223|      83115| ASSIGNED|2023-02-23 08:31:15|
|  100259|       200192|   20230222|      94751|  CREATED|2023-02-22 09:47:51|
|  100563|       200421|   20230223|      82133| ASSIGNED|2023-02-23 08:21:33|
|  100563|       200421|   20230223|      74734| RETURNED|2023-02-23 07:47:34|
|  100563|       200421|   20230222|      94100|  CREATED|2023-02-22 09:41:00|
|  100230|       200049|   20230222|     182650|COMPLETED|2023-02-22 18:26:50|
|  100230|       200049|   20230222|     161234| RETURNED|2023-02-22 16:12:34|
+--------+-------------+-----------+-----------+---------+-------------------+
only showing top 20 rows

In [9]:
# Create a window partitioned by ORDER_ID and sorted by STATUS_DATETIME
window_spec = Window.partitionBy("ORDER_ID").orderBy(F.col("STATUS_DATETIME").desc())

In [10]:
# Create a column for the previous status
df = df.withColumn("PREV_STATUS", lag("STATUS", 1).over(window_spec))

In [11]:
df = df.withColumn('LATEST_STATUS', F.first('STATUS').over(Window.partitionBy('ORDER_ID').orderBy(F.col("STATUS_DATETIME").desc())))

In [12]:
spark.sql("set spark.sql.legacy.timeParserPolicy=CORRECTED")

DataFrame[key: string, value: string]

In [13]:
df.show()

+--------+-------------+-----------+-----------+---------+-------------------+-----------+-------------+
|ORDER_ID|SUBSCRIBER_ID|STATUS_DATE|STATUS_TIME|   STATUS|    STATUS_DATETIME|PREV_STATUS|LATEST_STATUS|
+--------+-------------+-----------+-----------+---------+-------------------+-----------+-------------+
|  100170|       200497|   20230222|     164206|COMPLETED|2023-02-22 16:42:06|       null|    COMPLETED|
|  100170|       200497|   20230222|     162938| RETURNED|2023-02-22 16:29:38|  COMPLETED|    COMPLETED|
|  100170|       200497|   20230222|      94140|  CREATED|2023-02-22 09:41:40|   RETURNED|    COMPLETED|
|  100274|       200242|   20230222|     181513|CANCELLED|2023-02-22 18:15:13|       null|    CANCELLED|
|  100274|       200242|   20230222|     181241| RETURNED|2023-02-22 18:12:41|  CANCELLED|    CANCELLED|
|  100274|       200242|   20230222|      95309|  CREATED|2023-02-22 09:53:09|   RETURNED|    CANCELLED|
|  100446|       200239|   20230222|     142807|COMPLETED|2023-02-22 14:28:07|       null|    COMPLETED|
|  100446|       200239|   20230222|      95004|  CREATED|2023-02-22 09:50:04|  COMPLETED|    COMPLETED|
|  100068|       200431|   20230222|     154543|COMPLETED|2023-02-22 15:45:43|       null|    COMPLETED|
|  100068|       200431|   20230222|     101053| RETURNED|2023-02-22 10:10:53|  COMPLETED|    COMPLETED|
|  100068|       200431|   20230222|      93835|  CREATED|2023-02-22 09:38:35|   RETURNED|    COMPLETED|
|  100088|       200449|   20230223|      21127|COMPLETED|2023-02-23 02:11:27|       null|    COMPLETED|
|  100088|       200449|   20230222|     234157| RETURNED|2023-02-22 23:41:57|  COMPLETED|    COMPLETED|
|  100088|       200449|   20230222|      95457|  CREATED|2023-02-22 09:54:57|   RETURNED|    COMPLETED|
|  100220|       200100|   20230223|      91346| ASSIGNED|2023-02-23 09:13:46|       null|     ASSIGNED|
|  100220|       200100|   20230223|      41932| RETURNED|2023-02-23 04:19:32|   ASSIGNED|     ASSIGNED|
|  100220|       200100|   20230222|     105416|  CREATED|2023-02-22 10:54:16|   RETURNED|     ASSIGNED|
|  100453|       200419|   20230222|     182056|COMPLETED|2023-02-22 18:20:56|       null|    COMPLETED|
|  100453|       200419|   20230222|     162415| RETURNED|2023-02-22 16:24:15|  COMPLETED|    COMPLETED|
|  100453|       200419|   20230222|      95312|  CREATED|2023-02-22 09:53:12|   RETURNED|    COMPLETED|
+--------+-------------+-----------+-----------+---------+-------------------+-----------+-------------+
only showing top 20 rows

In [21]:
# Create columns for the start date and end date
df = df.withColumn("START_DATE", when((df.STATUS == "CREATED") | (df.STATUS == "POOL"), df.STATUS_DATETIME))
df = df.withColumn("END_DATE", when((df.STATUS == "COMPLETED") | (df.STATUS == "CANCELLED"), df.STATUS_DATETIME))

In [22]:
df.limit(5).toPandas()

,ORDER_ID,SUBSCRIBER_ID,STATUS_DATE,STATUS_TIME,STATUS,STATUS_DATETIME,PREV_STATUS,LATEST_STATUS,START_DATE,END_DATE
0,100170,200497,20230222,164206,COMPLETED,2023-02-22 16:42:06,None,COMPLETED,NaT,2023-02-22 16:42:06
1,100170,200497,20230222,162938,RETURNED,2023-02-22 16:29:38,COMPLETED,COMPLETED,NaT,NaT
2,100170,200497,20230222,94140,CREATED,2023-02-22 09:41:40,RETURNED,COMPLETED,2023-02-22 09:41:40,NaT
3,100274,200242,20230222,181513,CANCELLED,2023-02-22 18:15:13,None,CANCELLED,NaT,2023-02-22 18:15:13
4,100274,200242,20230222,181241,RETURNED,2023-02-22 18:12:41,CANCELLED,CANCELLED,NaT,NaT

In [36]:
# Create a column for the current status
#df = df.withColumn("CURRENT_STATUS", when(df.END_DATE.isNotNull(), df.STATUS).otherwise(df.PREV_STATUS))

In [21]:
#df.limit(9).toPandas()

,ORDER_ID,SUBSCRIBER_ID,STATUS_DATE,STATUS_TIME,STATUS,STATUS_DATETIME,PREV_STATUS,START_DATE,END_DATE,CURRENT_STATUS
0,100170,200497,20230222,94140,CREATED,2023-02-22 09:41:40,None,2023-02-22 09:41:40,NaT,None
1,100170,200497,20230222,162938,RETURNED,2023-02-22 16:29:38,CREATED,NaT,NaT,CREATED
2,100170,200497,20230222,164206,COMPLETED,2023-02-22 16:42:06,RETURNED,NaT,2023-02-22 16:42:06,COMPLETED
3,100274,200242,20230222,95309,CREATED,2023-02-22 09:53:09,None,2023-02-22 09:53:09,NaT,None
4,100274,200242,20230222,181241,RETURNED,2023-02-22 18:12:41,CREATED,NaT,NaT,CREATED
5,100274,200242,20230222,181513,CANCELLED,2023-02-22 18:15:13,RETURNED,NaT,2023-02-22 18:15:13,CANCELLED
6,100446,200239,20230222,95004,CREATED,2023-02-22 09:50:04,None,2023-02-22 09:50:04,NaT,None
7,100446,200239,20230222,142807,COMPLETED,2023-02-22 14:28:07,CREATED,NaT,2023-02-22 14:28:07,COMPLETED
8,100068,200431,20230222,93835,CREATED,2023-02-22 09:38:35,None,2023-02-22 09:38:35,NaT,None

In [29]:
df1 = df.select('ORDER_ID','SUBSCRIBER_ID', 'LATEST_STATUS', 'START_DATE', 'END_DATE') \
.groupBy('ORDER_ID','SUBSCRIBER_ID','LATEST_STATUS' ) \
.agg(F.min('START_DATE').alias('START_DATE'), F.min('END_DATE').alias('END_DATE'))

In [51]:
df2= df1.withColumn("DURATION", when(df1.END_DATE.isNotNull(), (unix_timestamp(df1.END_DATE) - unix_timestamp(df1.START_DATE))/3600).otherwise(0))

In [53]:
df2.orderBy("ORDER_ID").show()

+--------+-------------+-------------+-------------------+-------------------+------------------+
|ORDER_ID|SUBSCRIBER_ID|LATEST_STATUS|         START_DATE|           END_DATE|          DURATION|
+--------+-------------+-------------+-------------------+-------------------+------------------+
|  100001|       200574|     ASSIGNED|2023-02-22 09:53:06|               null|               0.0|
|  100002|       200121|         POOL|2023-02-22 09:37:12|               null|               0.0|
|  100003|       200432|     ASSIGNED|2023-02-22 09:40:01|               null|               0.0|
|  100004|       200234|    COMPLETED|2023-02-22 09:37:58|2023-02-22 10:44:26|1.1077777777777778|
|  100005|       200546|         POOL|2023-02-22 09:47:27|               null|               0.0|
|  100006|       200369|     ASSIGNED|2023-02-22 10:54:13|               null|               0.0|
|  100007|       200486|     ASSIGNED|2023-02-22 10:54:48|               null|               0.0|
|  100008|       200190|     ASSIGNED|2023-02-22 09:43:31|               null|               0.0|
|  100009|       200058|    COMPLETED|2023-02-22 09:49:51|2023-02-22 19:55:48|10.099166666666667|
|  100010|       200253|    COMPLETED|2023-02-22 09:43:01|2023-02-22 12:07:25|2.4066666666666667|
|  100011|       200207|     ASSIGNED|2023-02-22 10:56:06|               null|               0.0|
|  100012|       200534|    COMPLETED|2023-02-22 09:49:27|2023-02-22 16:24:34| 6.585277777777778|
|  100013|       200494|    COMPLETED|2023-02-22 09:41:34|2023-02-22 23:35:19|13.895833333333334|
|  100014|       200062|    COMPLETED|2023-02-22 09:50:31|2023-02-22 22:58:58|13.140833333333333|
|  100015|       200370|    COMPLETED|2023-02-22 09:42:46|2023-02-22 10:41:22|0.9766666666666667|
|  100016|       200482|         POOL|2023-02-22 09:44:01|               null|               0.0|
|  100017|       200096|    COMPLETED|2023-02-22 09:45:41|2023-02-22 14:11:20|            4.4275|
|  100018|       200582|    COMPLETED|2023-02-21 16:37:23|2023-02-22 16:54:04|24.278055555555557|
|  100019|       200304|     ASSIGNED|2023-02-22 10:57:02|               null|               0.0|
|  100020|       200050|    COMPLETED|2023-02-22 10:52:53|2023-02-22 22:27:41|             11.58|
+--------+-------------+-------------+-------------------+-------------------+------------------+
only showing top 20 rows

In [54]:
df3 = df2.repartition(1)

In [55]:
# Select the desired columns and write the output to a file
# output_df = df.select("ORDER_ID", "CURRENT_STATUS", "START_DATE", "END_DATE", "DURATION")
df3.write.mode("overwrite").option("header", "true").csv("file:///home/train/dataops7/spark/hw4_OrderStatus/report")

In [ ]:
spark.stop()