In [1]:
from pyspark.sql import SparkSession, functions as F
from pyspark.sql.types import StructType, StructField, DoubleType, StringType, IntegerType, DateType, ArrayType, FloatType

In [2]:
spark = SparkSession.builder \
.master("local[2]") \
.appName("Filter") \
.getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/manual/spark-3.1.1-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
2023-02-18 12:30:15,142 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
# ! wget -O /home/train/datasets/Hotel_Reviews.csv.gz \
# https://github.com/erkansirin78/datasets/raw/master/Hotel_Reviews.csv.gz

# Read Data

In [4]:
df = spark.read \
.format("csv") \
.option("header", True) \
.option("sep", ",") \
.option("inferSchema", True) \
.load("file:///home/train/datasets/Hotel_Reviews.csv.gz") \
.withColumn("Review_Date", F.to_date("Review_Date", "M/d/y")) \
.withColumn("Tags", F.split(F.col("Tags"), ",").cast(ArrayType(StringType())))

In [11]:
df.limit(6).toPandas()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-08-03,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[[' Leisure trip ', ' Couple ', ' Duplex Dou...",0 days,52.3605759,4.9159683
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-08-03,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[[' Leisure trip ', ' Couple ', ' Duplex Dou...",0 days,52.3605759,4.9159683
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-31,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[[' Leisure trip ', ' Family with young child...",3 days,52.3605759,4.9159683
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-31,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[[' Leisure trip ', ' Solo traveler ', ' Dup...",3 days,52.3605759,4.9159683
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-24,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[[' Leisure trip ', ' Couple ', ' Suite ', ...",10 days,52.3605759,4.9159683
5,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-24,7.7,Hotel Arena,Poland,Backyard of the hotel is total mess shouldn t...,17,1403,Good restaurant with modern design great chil...,20,1,6.7,"[[' Leisure trip ', ' Group ', ' Duplex Doub...",10 days,52.3605759,4.9159683

In [12]:
df.where("TRIM(Reviewer_Nationality) == 'United Kingdom'").limit(5).toPandas()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-31,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[[' Leisure trip ', ' Solo traveler ', ' Dup...",3 days,52.3605759,4.9159683
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-17,7.7,Hotel Arena,United Kingdom,Cleaner did not change our sheet and duvet ev...,33,1403,The room is spacious and bright The hotel is ...,18,6,4.6,"[[' Leisure trip ', ' Group ', ' Duplex Twin...",17 days,52.3605759,4.9159683
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-17,7.7,Hotel Arena,United Kingdom,Apart from the price for the brekfast Everyth...,11,1403,Good location Set in a lovely park friendly s...,19,1,10.0,"[[' Leisure trip ', ' Couple ', ' Duplex Dou...",17 days,52.3605759,4.9159683
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-07,7.7,Hotel Arena,United Kingdom,Nothing all great,5,1403,Rooms were stunningly decorated and really sp...,101,2,10.0,"[[' Leisure trip ', ' Group ', ' Duplex Doub...",27 days,52.3605759,4.9159683
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-06,7.7,Hotel Arena,United Kingdom,The floor in my room was filfy dirty Very bas...,28,1403,Comfy bed good location,6,7,4.6,"[[' Leisure trip ', ' Solo traveler ', ' Dup...",28 days,52.3605759,4.9159683

In [16]:
df.filter("Reviewer_Nationality LIKE '%United Kingdom%' AND Average_Score < 7.0").limit(5).toPandas()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,167 rue de Rome 17th arr 75017 Paris France,11,2017-04-27,6.8,Villa Eugenie,United Kingdom,This hotel I don t think so is 4 star B B hav...,93,165,Nothing,2,10,2.5,"[[' Business trip ', ' Solo traveler ', ' Si...",98 days,48.8871283,2.314205
1,167 rue de Rome 17th arr 75017 Paris France,11,2016-10-20,6.8,Villa Eugenie,United Kingdom,Staff rude I was proposing to my partner and ...,44,165,No Positive,0,1,5.8,"[[' Leisure trip ', ' Couple ', ' Superior D...",287 day,48.8871283,2.314205
2,167 rue de Rome 17th arr 75017 Paris France,11,2016-10-18,6.8,Villa Eugenie,United Kingdom,No internet it was important for me for my bu...,32,165,Didier was friendly and good,7,12,2.5,"[[' Leisure trip ', ' Couple ', ' Standard D...",289 day,48.8871283,2.314205
3,167 rue de Rome 17th arr 75017 Paris France,11,2016-10-14,6.8,Villa Eugenie,United Kingdom,Evry thing of this place i can t name horlrel...,58,165,This hotel is worst hotel Its terrible,9,1,2.5,"[[' Solo traveler ', ' Single Room ', ' Stay...",293 day,48.8871283,2.314205
4,167 rue de Rome 17th arr 75017 Paris France,11,2016-06-07,6.8,Villa Eugenie,United Kingdom,The bathroom was pretty dirty black grout and...,26,165,The staff were helpful,6,1,5.0,"[[' Leisure trip ', ' Couple ', ' Standard D...",422 day,48.8871283,2.314205

In [17]:
df.filter(F.col("Reviewer_Nationality").like('%United Kingdom%')).limit(5).toPandas()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-31,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[[' Leisure trip ', ' Solo traveler ', ' Dup...",3 days,52.3605759,4.9159683
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-17,7.7,Hotel Arena,United Kingdom,Cleaner did not change our sheet and duvet ev...,33,1403,The room is spacious and bright The hotel is ...,18,6,4.6,"[[' Leisure trip ', ' Group ', ' Duplex Twin...",17 days,52.3605759,4.9159683
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-17,7.7,Hotel Arena,United Kingdom,Apart from the price for the brekfast Everyth...,11,1403,Good location Set in a lovely park friendly s...,19,1,10.0,"[[' Leisure trip ', ' Couple ', ' Duplex Dou...",17 days,52.3605759,4.9159683
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-07,7.7,Hotel Arena,United Kingdom,Nothing all great,5,1403,Rooms were stunningly decorated and really sp...,101,2,10.0,"[[' Leisure trip ', ' Group ', ' Duplex Doub...",27 days,52.3605759,4.9159683
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-06,7.7,Hotel Arena,United Kingdom,The floor in my room was filfy dirty Very bas...,28,1403,Comfy bed good location,6,7,4.6,"[[' Leisure trip ', ' Solo traveler ', ' Dup...",28 days,52.3605759,4.9159683

In [22]:
country = 'United Kingdom'

In [24]:
df.where(f"TRIM(Reviewer_Nationality) == '{country}' AND Average_Score < 7.0").limit(5).toPandas()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,167 rue de Rome 17th arr 75017 Paris France,11,2017-04-27,6.8,Villa Eugenie,United Kingdom,This hotel I don t think so is 4 star B B hav...,93,165,Nothing,2,10,2.5,"[[' Business trip ', ' Solo traveler ', ' Si...",98 days,48.8871283,2.314205
1,167 rue de Rome 17th arr 75017 Paris France,11,2016-10-20,6.8,Villa Eugenie,United Kingdom,Staff rude I was proposing to my partner and ...,44,165,No Positive,0,1,5.8,"[[' Leisure trip ', ' Couple ', ' Superior D...",287 day,48.8871283,2.314205
2,167 rue de Rome 17th arr 75017 Paris France,11,2016-10-18,6.8,Villa Eugenie,United Kingdom,No internet it was important for me for my bu...,32,165,Didier was friendly and good,7,12,2.5,"[[' Leisure trip ', ' Couple ', ' Standard D...",289 day,48.8871283,2.314205
3,167 rue de Rome 17th arr 75017 Paris France,11,2016-10-14,6.8,Villa Eugenie,United Kingdom,Evry thing of this place i can t name horlrel...,58,165,This hotel is worst hotel Its terrible,9,1,2.5,"[[' Solo traveler ', ' Single Room ', ' Stay...",293 day,48.8871283,2.314205
4,167 rue de Rome 17th arr 75017 Paris France,11,2016-06-07,6.8,Villa Eugenie,United Kingdom,The bathroom was pretty dirty black grout and...,26,165,The staff were helpful,6,1,5.0,"[[' Leisure trip ', ' Couple ', ' Standard D...",422 day,48.8871283,2.314205

In [15]:
spark.stop()