In [1]:
from pyspark.sql import SparkSession, functions as F

In [2]:
spark = SparkSession.builder \
.appName("When Otherwise") \
.master("local[2]") \
.getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/manual/spark-3.1.1-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
2023-02-19 11:01:10,054 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
data =[("James","","Smith","36636","M",60000),
        ("Michael","Rose","","40288","M",70000),
        ("Robert","","Williams","42114","",400000),
        ("Maria","Anne","Jones","39192","F",500000),
        ("Jen","Mary","Brown","","F",0)]

cols = ["first_name","middle_name","last_name","dob","gender","salary"]

In [4]:
df = spark.createDataFrame(data, cols)

In [5]:
df.show()

+----------+-----------+---------+-----+------+------+
|first_name|middle_name|last_name|  dob|gender|salary|
+----------+-----------+---------+-----+------+------+
|     James|           |    Smith|36636|     M| 60000|
|   Michael|       Rose|         |40288|     M| 70000|
|    Robert|           | Williams|42114|      |400000|
|     Maria|       Anne|    Jones|39192|     F|500000|
|       Jen|       Mary|    Brown|     |     F|     0|
+----------+-----------+---------+-----+------+------+

In [7]:
df.withColumn("gender2", F.when(F.col("gender") == "M", "Male") \
              .when(F.col("gender") == "F", "Female") \
              .otherwise("Unknown")).show()

+----------+-----------+---------+-----+------+------+-------+
|first_name|middle_name|last_name|  dob|gender|salary|gender2|
+----------+-----------+---------+-----+------+------+-------+
|     James|           |    Smith|36636|     M| 60000|   Male|
|   Michael|       Rose|         |40288|     M| 70000|   Male|
|    Robert|           | Williams|42114|      |400000|Unknown|
|     Maria|       Anne|    Jones|39192|     F|500000| Female|
|       Jen|       Mary|    Brown|     |     F|     0| Female|
+----------+-----------+---------+-----+------+------+-------+

In [8]:
df.createTempView("staff")

In [9]:
spark.sql("""

SELECT 
a.*, 
CASE WHEN gender = 'M' THEN 'Male'
WHEN gender = 'F' THEN 'Female'
ELSE 'Unknown' END AS gender2

FROM staff a

""").show()

+----------+-----------+---------+-----+------+------+-------+
|first_name|middle_name|last_name|  dob|gender|salary|gender2|
+----------+-----------+---------+-----+------+------+-------+
|     James|           |    Smith|36636|     M| 60000|   Male|
|   Michael|       Rose|         |40288|     M| 70000|   Male|
|    Robert|           | Williams|42114|      |400000|Unknown|
|     Maria|       Anne|    Jones|39192|     F|500000| Female|
|       Jen|       Mary|    Brown|     |     F|     0| Female|
+----------+-----------+---------+-----+------+------+-------+