In [1]:
from pyspark.sql.functions import *
from pyspark.sql import Window

In [2]:
from pyspark.sql import SparkSession, functions as F
from pyspark.sql.types import StructType, StructField, DoubleType, StringType, IntegerType, DateType, ArrayType, FloatType

In [3]:
spark = SparkSession.builder \
.master("local[1]") \
.appName("OrderStatusCheck") \
.getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/manual/spark-3.1.1-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
2023-03-01 10:35:03,902 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [24]:
# Read the input file
df = spark.read \
.format("csv") \
.option("header", True) \
.option("sep", ",") \
.option("inferSchema", True) \
.load("file:///home/train/dataops7/spark/hw4_03_order_status/orderStatusData.csv")

In [25]:
df.show()

+--------+-------------+-----------+-----------+---------+
|ORDER_ID|SUBSCRIBER_ID|STATUS_DATE|STATUS_TIME|   STATUS|
+--------+-------------+-----------+-----------+---------+
|  100159|       200427|   20230223|      83209| ASSIGNED|
|  100159|       200427|   20230223|      74232| RETURNED|
|  100159|       200427|   20230222|      95056|  CREATED|
|  100410|       200366|   20230223|      91017| ASSIGNED|
|  100410|       200366|   20230223|      30301| RETURNED|
|  100410|       200366|   20230222|      93638|  CREATED|
|  100497|       200024|   20230222|     105418|     POOL|
|  100497|       200024|   20230222|     105418|  CREATED|
|  100539|       200012|   20230222|     112855|COMPLETED|
|  100539|       200012|   20230222|      95408|  CREATED|
|  100575|       200573|   20230223|      85951| ASSIGNED|
|  100575|       200573|   20230223|      41932| RETURNED|
|  100575|       200573|   20230222|     105441|  CREATED|
|  100259|       200192|   20230223|      83115| ASSIGNED|
|  100259|       200192|   20230222|      94751|  CREATED|
|  100563|       200421|   20230223|      82133| ASSIGNED|
|  100563|       200421|   20230223|      74734| RETURNED|
|  100563|       200421|   20230222|      94100|  CREATED|
|  100230|       200049|   20230222|     182650|COMPLETED|
|  100230|       200049|   20230222|     161234| RETURNED|
+--------+-------------+-----------+-----------+---------+
only showing top 20 rows

In [26]:
# Convert the date and time columns to timestamps
df = df.withColumn("STATUS_DATETIME", to_timestamp(concat_ws(" ", df.STATUS_DATE, df.STATUS_TIME), "yyyyMMdd Hmmss"))

In [27]:
df.show()

+--------+-------------+-----------+-----------+---------+-------------------+
|ORDER_ID|SUBSCRIBER_ID|STATUS_DATE|STATUS_TIME|   STATUS|    STATUS_DATETIME|
+--------+-------------+-----------+-----------+---------+-------------------+
|  100159|       200427|   20230223|      83209| ASSIGNED|2023-02-23 08:32:09|
|  100159|       200427|   20230223|      74232| RETURNED|2023-02-23 07:42:32|
|  100159|       200427|   20230222|      95056|  CREATED|2023-02-22 09:50:56|
|  100410|       200366|   20230223|      91017| ASSIGNED|2023-02-23 09:10:17|
|  100410|       200366|   20230223|      30301| RETURNED|2023-02-23 03:03:01|
|  100410|       200366|   20230222|      93638|  CREATED|2023-02-22 09:36:38|
|  100497|       200024|   20230222|     105418|     POOL|2023-02-22 10:54:18|
|  100497|       200024|   20230222|     105418|  CREATED|2023-02-22 10:54:18|
|  100539|       200012|   20230222|     112855|COMPLETED|2023-02-22 11:28:55|
|  100539|       200012|   20230222|      95408|  CREATED|2023-02-22 09:54:08|
|  100575|       200573|   20230223|      85951| ASSIGNED|2023-02-23 08:59:51|
|  100575|       200573|   20230223|      41932| RETURNED|2023-02-23 04:19:32|
|  100575|       200573|   20230222|     105441|  CREATED|2023-02-22 10:54:41|
|  100259|       200192|   20230223|      83115| ASSIGNED|2023-02-23 08:31:15|
|  100259|       200192|   20230222|      94751|  CREATED|2023-02-22 09:47:51|
|  100563|       200421|   20230223|      82133| ASSIGNED|2023-02-23 08:21:33|
|  100563|       200421|   20230223|      74734| RETURNED|2023-02-23 07:47:34|
|  100563|       200421|   20230222|      94100|  CREATED|2023-02-22 09:41:00|
|  100230|       200049|   20230222|     182650|COMPLETED|2023-02-22 18:26:50|
|  100230|       200049|   20230222|     161234| RETURNED|2023-02-22 16:12:34|
+--------+-------------+-----------+-----------+---------+-------------------+
only showing top 20 rows

In [28]:
# Create a window partitioned by ORDER_ID and sorted by STATUS_DATETIME
window_spec = Window.partitionBy("ORDER_ID").orderBy("STATUS_DATETIME")

In [29]:
window_spec.show()

AttributeError: 'WindowSpec' object has no attribute 'show'

In [30]:
# Create a column for the previous status
df = df.withColumn("PREV_STATUS", lag("STATUS", 1).over(window_spec))

In [31]:
spark.sql("set spark.sql.legacy.timeParserPolicy=CORRECTED")

DataFrame[key: string, value: string]

In [32]:
df.show()

+--------+-------------+-----------+-----------+---------+-------------------+-----------+
|ORDER_ID|SUBSCRIBER_ID|STATUS_DATE|STATUS_TIME|   STATUS|    STATUS_DATETIME|PREV_STATUS|
+--------+-------------+-----------+-----------+---------+-------------------+-----------+
|  100170|       200497|   20230222|      94140|  CREATED|2023-02-22 09:41:40|       null|
|  100170|       200497|   20230222|     162938| RETURNED|2023-02-22 16:29:38|    CREATED|
|  100170|       200497|   20230222|     164206|COMPLETED|2023-02-22 16:42:06|   RETURNED|
|  100274|       200242|   20230222|      95309|  CREATED|2023-02-22 09:53:09|       null|
|  100274|       200242|   20230222|     181241| RETURNED|2023-02-22 18:12:41|    CREATED|
|  100274|       200242|   20230222|     181513|CANCELLED|2023-02-22 18:15:13|   RETURNED|
|  100446|       200239|   20230222|      95004|  CREATED|2023-02-22 09:50:04|       null|
|  100446|       200239|   20230222|     142807|COMPLETED|2023-02-22 14:28:07|    CREATED|
|  100068|       200431|   20230222|      93835|  CREATED|2023-02-22 09:38:35|       null|
|  100068|       200431|   20230222|     101053| RETURNED|2023-02-22 10:10:53|    CREATED|
|  100068|       200431|   20230222|     154543|COMPLETED|2023-02-22 15:45:43|   RETURNED|
|  100088|       200449|   20230222|      95457|  CREATED|2023-02-22 09:54:57|       null|
|  100088|       200449|   20230222|     234157| RETURNED|2023-02-22 23:41:57|    CREATED|
|  100088|       200449|   20230223|      21127|COMPLETED|2023-02-23 02:11:27|   RETURNED|
|  100220|       200100|   20230222|     105416|  CREATED|2023-02-22 10:54:16|       null|
|  100220|       200100|   20230223|      41932| RETURNED|2023-02-23 04:19:32|    CREATED|
|  100220|       200100|   20230223|      91346| ASSIGNED|2023-02-23 09:13:46|   RETURNED|
|  100453|       200419|   20230222|      95312|  CREATED|2023-02-22 09:53:12|       null|
|  100453|       200419|   20230222|     162415| RETURNED|2023-02-22 16:24:15|    CREATED|
|  100453|       200419|   20230222|     182056|COMPLETED|2023-02-22 18:20:56|   RETURNED|
+--------+-------------+-----------+-----------+---------+-------------------+-----------+
only showing top 20 rows

In [33]:
# Create columns for the start date and end date
df = df.withColumn("START_DATE", when((df.STATUS == "CREATED") | (df.STATUS == "POOL"), df.STATUS_DATETIME))
df = df.withColumn("END_DATE", when((df.STATUS == "COMPLETED") | (df.STATUS == "CANCELLED"), df.STATUS_DATETIME))

In [34]:
df.show()

+--------+-------------+-----------+-----------+---------+-------------------+-----------+-------------------+-------------------+
|ORDER_ID|SUBSCRIBER_ID|STATUS_DATE|STATUS_TIME|   STATUS|    STATUS_DATETIME|PREV_STATUS|         START_DATE|           END_DATE|
+--------+-------------+-----------+-----------+---------+-------------------+-----------+-------------------+-------------------+
|  100170|       200497|   20230222|      94140|  CREATED|2023-02-22 09:41:40|       null|2023-02-22 09:41:40|               null|
|  100170|       200497|   20230222|     162938| RETURNED|2023-02-22 16:29:38|    CREATED|               null|               null|
|  100170|       200497|   20230222|     164206|COMPLETED|2023-02-22 16:42:06|   RETURNED|               null|2023-02-22 16:42:06|
|  100274|       200242|   20230222|      95309|  CREATED|2023-02-22 09:53:09|       null|2023-02-22 09:53:09|               null|
|  100274|       200242|   20230222|     181241| RETURNED|2023-02-22 18:12:41|    CREATED|               null|               null|
|  100274|       200242|   20230222|     181513|CANCELLED|2023-02-22 18:15:13|   RETURNED|               null|2023-02-22 18:15:13|
|  100446|       200239|   20230222|      95004|  CREATED|2023-02-22 09:50:04|       null|2023-02-22 09:50:04|               null|
|  100446|       200239|   20230222|     142807|COMPLETED|2023-02-22 14:28:07|    CREATED|               null|2023-02-22 14:28:07|
|  100068|       200431|   20230222|      93835|  CREATED|2023-02-22 09:38:35|       null|2023-02-22 09:38:35|               null|
|  100068|       200431|   20230222|     101053| RETURNED|2023-02-22 10:10:53|    CREATED|               null|               null|
|  100068|       200431|   20230222|     154543|COMPLETED|2023-02-22 15:45:43|   RETURNED|               null|2023-02-22 15:45:43|
|  100088|       200449|   20230222|      95457|  CREATED|2023-02-22 09:54:57|       null|2023-02-22 09:54:57|               null|
|  100088|       200449|   20230222|     234157| RETURNED|2023-02-22 23:41:57|    CREATED|               null|               null|
|  100088|       200449|   20230223|      21127|COMPLETED|2023-02-23 02:11:27|   RETURNED|               null|2023-02-23 02:11:27|
|  100220|       200100|   20230222|     105416|  CREATED|2023-02-22 10:54:16|       null|2023-02-22 10:54:16|               null|
|  100220|       200100|   20230223|      41932| RETURNED|2023-02-23 04:19:32|    CREATED|               null|               null|
|  100220|       200100|   20230223|      91346| ASSIGNED|2023-02-23 09:13:46|   RETURNED|               null|               null|
|  100453|       200419|   20230222|      95312|  CREATED|2023-02-22 09:53:12|       null|2023-02-22 09:53:12|               null|
|  100453|       200419|   20230222|     162415| RETURNED|2023-02-22 16:24:15|    CREATED|               null|               null|
|  100453|       200419|   20230222|     182056|COMPLETED|2023-02-22 18:20:56|   RETURNED|               null|2023-02-22 18:20:56|
+--------+-------------+-----------+-----------+---------+-------------------+-----------+-------------------+-------------------+
only showing top 20 rows

In [35]:
# Create a column for the current status
df = df.withColumn("CURRENT_STATUS", when(df.END_DATE.isNotNull(), df.STATUS).otherwise(df.PREV_STATUS))

In [51]:
df1 = df.filter(df.CURRENT_STATUS.isNull())

In [52]:
df1.show()

+--------+-------------+-----------+-----------+-------+-------------------+-----------+-------------------+--------+--------------+--------+
|ORDER_ID|SUBSCRIBER_ID|STATUS_DATE|STATUS_TIME| STATUS|    STATUS_DATETIME|PREV_STATUS|         START_DATE|END_DATE|CURRENT_STATUS|DURATION|
+--------+-------------+-----------+-----------+-------+-------------------+-----------+-------------------+--------+--------------+--------+
|  100170|       200497|   20230222|      94140|CREATED|2023-02-22 09:41:40|       null|2023-02-22 09:41:40|    null|          null|       0|
|  100274|       200242|   20230222|      95309|CREATED|2023-02-22 09:53:09|       null|2023-02-22 09:53:09|    null|          null|       0|
|  100446|       200239|   20230222|      95004|CREATED|2023-02-22 09:50:04|       null|2023-02-22 09:50:04|    null|          null|       0|
|  100068|       200431|   20230222|      93835|CREATED|2023-02-22 09:38:35|       null|2023-02-22 09:38:35|    null|          null|       0|
|  100088|       200449|   20230222|      95457|CREATED|2023-02-22 09:54:57|       null|2023-02-22 09:54:57|    null|          null|       0|
|  100220|       200100|   20230222|     105416|CREATED|2023-02-22 10:54:16|       null|2023-02-22 10:54:16|    null|          null|       0|
|  100453|       200419|   20230222|      95312|CREATED|2023-02-22 09:53:12|       null|2023-02-22 09:53:12|    null|          null|       0|
|  100570|       200080|   20230222|      93553|CREATED|2023-02-22 09:35:53|       null|2023-02-22 09:35:53|    null|          null|       0|
|  100102|       200041|   20230222|      93652|   POOL|2023-02-22 09:36:52|       null|2023-02-22 09:36:52|    null|          null|       0|
|  100110|       200424|   20230222|      93935|CREATED|2023-02-22 09:39:35|       null|2023-02-22 09:39:35|    null|          null|       0|
|  100349|       200313|   20230221|     163834|   POOL|2023-02-21 16:38:34|       null|2023-02-21 16:38:34|    null|          null|       0|
|  100417|       200150|   20230222|      94513|CREATED|2023-02-22 09:45:13|       null|2023-02-22 09:45:13|    null|          null|       0|
|  100447|       200467|   20230222|      94932|CREATED|2023-02-22 09:49:32|       null|2023-02-22 09:49:32|    null|          null|       0|
|  100003|       200432|   20230222|      94001|CREATED|2023-02-22 09:40:01|       null|2023-02-22 09:40:01|    null|          null|       0|
|  100074|       200063|   20230222|     105511|   POOL|2023-02-22 10:55:11|       null|2023-02-22 10:55:11|    null|          null|       0|
|  100206|       200135|   20230222|      94921|CREATED|2023-02-22 09:49:21|       null|2023-02-22 09:49:21|    null|          null|       0|
|  100240|       200577|   20230222|      93923|CREATED|2023-02-22 09:39:23|       null|2023-02-22 09:39:23|    null|          null|       0|
|  100279|       200509|   20230222|      94201|CREATED|2023-02-22 09:42:01|       null|2023-02-22 09:42:01|    null|          null|       0|
|  100007|       200486|   20230222|     105448|CREATED|2023-02-22 10:54:48|       null|2023-02-22 10:54:48|    null|          null|       0|
|  100042|       200412|   20230222|     105557|CREATED|2023-02-22 10:55:57|       null|2023-02-22 10:55:57|    null|          null|       0|
+--------+-------------+-----------+-----------+-------+-------------------+-----------+-------------------+--------+--------------+--------+
only showing top 20 rows

In [53]:
df1.count()

584

In [66]:
df111 = df1.select('ORDER_ID', 'START_DATE')

In [72]:
df111 = df111.withColumnRenamed('ORDER_ID', 'df111_orderid')

In [74]:
df111 = df111.withColumnRenamed('START_DATE', 'df111_startdate')

In [75]:
df111.show()

+-------------+-------------------+
|df111_orderid|    df111_startdate|
+-------------+-------------------+
|       100170|2023-02-22 09:41:40|
|       100274|2023-02-22 09:53:09|
|       100446|2023-02-22 09:50:04|
|       100068|2023-02-22 09:38:35|
|       100088|2023-02-22 09:54:57|
|       100220|2023-02-22 10:54:16|
|       100453|2023-02-22 09:53:12|
|       100570|2023-02-22 09:35:53|
|       100102|2023-02-22 09:36:52|
|       100110|2023-02-22 09:39:35|
|       100349|2023-02-21 16:38:34|
|       100417|2023-02-22 09:45:13|
|       100447|2023-02-22 09:49:32|
|       100003|2023-02-22 09:40:01|
|       100074|2023-02-22 10:55:11|
|       100206|2023-02-22 09:49:21|
|       100240|2023-02-22 09:39:23|
|       100279|2023-02-22 09:42:01|
|       100007|2023-02-22 10:54:48|
|       100042|2023-02-22 10:55:57|
+-------------+-------------------+
only showing top 20 rows

In [76]:
df11 = df.join(df111, df.ORDER_ID == df111.df111_orderid)

In [77]:
df11.printSchema()

root
 |-- ORDER_ID: integer (nullable = true)
 |-- SUBSCRIBER_ID: integer (nullable = true)
 |-- STATUS_DATE: integer (nullable = true)
 |-- STATUS_TIME: integer (nullable = true)
 |-- STATUS: string (nullable = true)
 |-- STATUS_DATETIME: timestamp (nullable = true)
 |-- PREV_STATUS: string (nullable = true)
 |-- START_DATE: timestamp (nullable = true)
 |-- END_DATE: timestamp (nullable = true)
 |-- CURRENT_STATUS: string (nullable = true)
 |-- DURATION: long (nullable = true)
 |-- df111_orderid: integer (nullable = true)
 |-- df111_startdate: timestamp (nullable = true)

In [82]:
# Create a column for the duration
df11 = df11.withColumn("DURATION", when(df11.END_DATE.isNotNull(), unix_timestamp(df11.END_DATE) - unix_timestamp(df11.df111_startdate)).otherwise(0))

In [85]:
df11.select("ORDER_ID", "SUBSCRIBER_ID", "STATUS", "df111_startdate", "END_DATE", "DURATION").show()

+--------+-------------+---------+-------------------+-------------------+--------+
|ORDER_ID|SUBSCRIBER_ID|   STATUS|    df111_startdate|           END_DATE|DURATION|
+--------+-------------+---------+-------------------+-------------------+--------+
|  100159|       200427| ASSIGNED|2023-02-22 09:50:56|               null|       0|
|  100159|       200427| RETURNED|2023-02-22 09:50:56|               null|       0|
|  100159|       200427|  CREATED|2023-02-22 09:50:56|               null|       0|
|  100410|       200366| ASSIGNED|2023-02-22 09:36:38|               null|       0|
|  100410|       200366| RETURNED|2023-02-22 09:36:38|               null|       0|
|  100410|       200366|  CREATED|2023-02-22 09:36:38|               null|       0|
|  100497|       200024|     POOL|2023-02-22 10:54:18|               null|       0|
|  100497|       200024|  CREATED|2023-02-22 10:54:18|               null|       0|
|  100539|       200012|COMPLETED|2023-02-22 09:54:08|2023-02-22 11:28:55|    5687|
|  100539|       200012|  CREATED|2023-02-22 09:54:08|               null|       0|
|  100575|       200573| ASSIGNED|2023-02-22 10:54:41|               null|       0|
|  100575|       200573| RETURNED|2023-02-22 10:54:41|               null|       0|
|  100575|       200573|  CREATED|2023-02-22 10:54:41|               null|       0|
|  100259|       200192| ASSIGNED|2023-02-22 09:47:51|               null|       0|
|  100259|       200192|  CREATED|2023-02-22 09:47:51|               null|       0|
|  100563|       200421| ASSIGNED|2023-02-22 09:41:00|               null|       0|
|  100563|       200421| RETURNED|2023-02-22 09:41:00|               null|       0|
|  100563|       200421|  CREATED|2023-02-22 09:41:00|               null|       0|
|  100230|       200049|COMPLETED|2023-02-22 10:57:08|2023-02-22 18:26:50|   26982|
|  100230|       200049| RETURNED|2023-02-22 10:57:08|               null|       0|
+--------+-------------+---------+-------------------+-------------------+--------+
only showing top 20 rows

In [36]:
df.show()

+--------+-------------+-----------+-----------+---------+-------------------+-----------+-------------------+-------------------+--------------+
|ORDER_ID|SUBSCRIBER_ID|STATUS_DATE|STATUS_TIME|   STATUS|    STATUS_DATETIME|PREV_STATUS|         START_DATE|           END_DATE|CURRENT_STATUS|
+--------+-------------+-----------+-----------+---------+-------------------+-----------+-------------------+-------------------+--------------+
|  100170|       200497|   20230222|      94140|  CREATED|2023-02-22 09:41:40|       null|2023-02-22 09:41:40|               null|          null|
|  100170|       200497|   20230222|     162938| RETURNED|2023-02-22 16:29:38|    CREATED|               null|               null|       CREATED|
|  100170|       200497|   20230222|     164206|COMPLETED|2023-02-22 16:42:06|   RETURNED|               null|2023-02-22 16:42:06|     COMPLETED|
|  100274|       200242|   20230222|      95309|  CREATED|2023-02-22 09:53:09|       null|2023-02-22 09:53:09|               null|          null|
|  100274|       200242|   20230222|     181241| RETURNED|2023-02-22 18:12:41|    CREATED|               null|               null|       CREATED|
|  100274|       200242|   20230222|     181513|CANCELLED|2023-02-22 18:15:13|   RETURNED|               null|2023-02-22 18:15:13|     CANCELLED|
|  100446|       200239|   20230222|      95004|  CREATED|2023-02-22 09:50:04|       null|2023-02-22 09:50:04|               null|          null|
|  100446|       200239|   20230222|     142807|COMPLETED|2023-02-22 14:28:07|    CREATED|               null|2023-02-22 14:28:07|     COMPLETED|
|  100068|       200431|   20230222|      93835|  CREATED|2023-02-22 09:38:35|       null|2023-02-22 09:38:35|               null|          null|
|  100068|       200431|   20230222|     101053| RETURNED|2023-02-22 10:10:53|    CREATED|               null|               null|       CREATED|
|  100068|       200431|   20230222|     154543|COMPLETED|2023-02-22 15:45:43|   RETURNED|               null|2023-02-22 15:45:43|     COMPLETED|
|  100088|       200449|   20230222|      95457|  CREATED|2023-02-22 09:54:57|       null|2023-02-22 09:54:57|               null|          null|
|  100088|       200449|   20230222|     234157| RETURNED|2023-02-22 23:41:57|    CREATED|               null|               null|       CREATED|
|  100088|       200449|   20230223|      21127|COMPLETED|2023-02-23 02:11:27|   RETURNED|               null|2023-02-23 02:11:27|     COMPLETED|
|  100220|       200100|   20230222|     105416|  CREATED|2023-02-22 10:54:16|       null|2023-02-22 10:54:16|               null|          null|
|  100220|       200100|   20230223|      41932| RETURNED|2023-02-23 04:19:32|    CREATED|               null|               null|       CREATED|
|  100220|       200100|   20230223|      91346| ASSIGNED|2023-02-23 09:13:46|   RETURNED|               null|               null|      RETURNED|
|  100453|       200419|   20230222|      95312|  CREATED|2023-02-22 09:53:12|       null|2023-02-22 09:53:12|               null|          null|
|  100453|       200419|   20230222|     162415| RETURNED|2023-02-22 16:24:15|    CREATED|               null|               null|       CREATED|
|  100453|       200419|   20230222|     182056|COMPLETED|2023-02-22 18:20:56|   RETURNED|               null|2023-02-22 18:20:56|     COMPLETED|
+--------+-------------+-----------+-----------+---------+-------------------+-----------+-------------------+-------------------+--------------+
only showing top 20 rows

In [37]:
# Create a column for the duration
df = df.withColumn("DURATION", when(df.END_DATE.isNotNull(), unix_timestamp(df.END_DATE) - unix_timestamp(df.START_DATE)).otherwise(0))

In [38]:
df.show()

+--------+-------------+-----------+-----------+---------+-------------------+-----------+-------------------+-------------------+--------------+--------+
|ORDER_ID|SUBSCRIBER_ID|STATUS_DATE|STATUS_TIME|   STATUS|    STATUS_DATETIME|PREV_STATUS|         START_DATE|           END_DATE|CURRENT_STATUS|DURATION|
+--------+-------------+-----------+-----------+---------+-------------------+-----------+-------------------+-------------------+--------------+--------+
|  100170|       200497|   20230222|      94140|  CREATED|2023-02-22 09:41:40|       null|2023-02-22 09:41:40|               null|          null|       0|
|  100170|       200497|   20230222|     162938| RETURNED|2023-02-22 16:29:38|    CREATED|               null|               null|       CREATED|       0|
|  100170|       200497|   20230222|     164206|COMPLETED|2023-02-22 16:42:06|   RETURNED|               null|2023-02-22 16:42:06|     COMPLETED|    null|
|  100274|       200242|   20230222|      95309|  CREATED|2023-02-22 09:53:09|       null|2023-02-22 09:53:09|               null|          null|       0|
|  100274|       200242|   20230222|     181241| RETURNED|2023-02-22 18:12:41|    CREATED|               null|               null|       CREATED|       0|
|  100274|       200242|   20230222|     181513|CANCELLED|2023-02-22 18:15:13|   RETURNED|               null|2023-02-22 18:15:13|     CANCELLED|    null|
|  100446|       200239|   20230222|      95004|  CREATED|2023-02-22 09:50:04|       null|2023-02-22 09:50:04|               null|          null|       0|
|  100446|       200239|   20230222|     142807|COMPLETED|2023-02-22 14:28:07|    CREATED|               null|2023-02-22 14:28:07|     COMPLETED|    null|
|  100068|       200431|   20230222|      93835|  CREATED|2023-02-22 09:38:35|       null|2023-02-22 09:38:35|               null|          null|       0|
|  100068|       200431|   20230222|     101053| RETURNED|2023-02-22 10:10:53|    CREATED|               null|               null|       CREATED|       0|
|  100068|       200431|   20230222|     154543|COMPLETED|2023-02-22 15:45:43|   RETURNED|               null|2023-02-22 15:45:43|     COMPLETED|    null|
|  100088|       200449|   20230222|      95457|  CREATED|2023-02-22 09:54:57|       null|2023-02-22 09:54:57|               null|          null|       0|
|  100088|       200449|   20230222|     234157| RETURNED|2023-02-22 23:41:57|    CREATED|               null|               null|       CREATED|       0|
|  100088|       200449|   20230223|      21127|COMPLETED|2023-02-23 02:11:27|   RETURNED|               null|2023-02-23 02:11:27|     COMPLETED|    null|
|  100220|       200100|   20230222|     105416|  CREATED|2023-02-22 10:54:16|       null|2023-02-22 10:54:16|               null|          null|       0|
|  100220|       200100|   20230223|      41932| RETURNED|2023-02-23 04:19:32|    CREATED|               null|               null|       CREATED|       0|
|  100220|       200100|   20230223|      91346| ASSIGNED|2023-02-23 09:13:46|   RETURNED|               null|               null|      RETURNED|       0|
|  100453|       200419|   20230222|      95312|  CREATED|2023-02-22 09:53:12|       null|2023-02-22 09:53:12|               null|          null|       0|
|  100453|       200419|   20230222|     162415| RETURNED|2023-02-22 16:24:15|    CREATED|               null|               null|       CREATED|       0|
|  100453|       200419|   20230222|     182056|COMPLETED|2023-02-22 18:20:56|   RETURNED|               null|2023-02-22 18:20:56|     COMPLETED|    null|
+--------+-------------+-----------+-----------+---------+-------------------+-----------+-------------------+-------------------+--------------+--------+
only showing top 20 rows

In [18]:
df.printSchema()

root
 |-- ORDER_ID: integer (nullable = true)
 |-- SUBSCRIBER_ID: integer (nullable = true)
 |-- STATUS_DATE: integer (nullable = true)
 |-- STATUS_TIME: integer (nullable = true)
 |-- STATUS: string (nullable = true)
 |-- STATUS_DATETIME: timestamp (nullable = true)
 |-- PREV_STATUS: string (nullable = true)
 |-- START_DATE: timestamp (nullable = true)
 |-- END_DATE: timestamp (nullable = true)
 |-- CURRENT_STATUS: string (nullable = true)
 |-- DURATION: long (nullable = true)

In [19]:
df2 = df.select("ORDER_ID", "SUBSCRIBER_ID", "STATUS", "START_DATE", "END_DATE", "DURATION")

In [20]:
df2.show()

+--------+-------------+---------+-------------------+-------------------+--------+
|ORDER_ID|SUBSCRIBER_ID|   STATUS|         START_DATE|           END_DATE|DURATION|
+--------+-------------+---------+-------------------+-------------------+--------+
|  100159|       200427| ASSIGNED|               null|               null|       0|
|  100159|       200427| RETURNED|               null|               null|       0|
|  100159|       200427|  CREATED|               null|               null|       0|
|  100410|       200366| ASSIGNED|               null|               null|       0|
|  100410|       200366| RETURNED|               null|               null|       0|
|  100410|       200366|  CREATED|               null|               null|       0|
|  100497|       200024|     POOL|2023-02-22 10:54:18|               null|       0|
|  100497|       200024|  CREATED|2023-02-22 10:54:18|               null|       0|
|  100539|       200012|COMPLETED|               null|2023-02-22 11:28:55|    null|
|  100539|       200012|  CREATED|               null|               null|       0|
|  100575|       200573| ASSIGNED|               null|               null|       0|
|  100575|       200573| RETURNED|               null|               null|       0|
|  100575|       200573|  CREATED|2023-02-22 10:54:41|               null|       0|
|  100259|       200192| ASSIGNED|               null|               null|       0|
|  100259|       200192|  CREATED|               null|               null|       0|
|  100563|       200421| ASSIGNED|               null|               null|       0|
|  100563|       200421| RETURNED|               null|               null|       0|
|  100563|       200421|  CREATED|               null|               null|       0|
|  100230|       200049|COMPLETED|               null|2023-02-22 18:26:50|    null|
|  100230|       200049| RETURNED|               null|               null|       0|
+--------+-------------+---------+-------------------+-------------------+--------+
only showing top 20 rows

In [21]:
df2.show()

+--------+-------------+---------+-------------------+-------------------+--------+
|ORDER_ID|SUBSCRIBER_ID|   STATUS|         START_DATE|           END_DATE|DURATION|
+--------+-------------+---------+-------------------+-------------------+--------+
|  100159|       200427| ASSIGNED|               null|               null|       0|
|  100159|       200427| RETURNED|               null|               null|       0|
|  100159|       200427|  CREATED|               null|               null|       0|
|  100410|       200366| ASSIGNED|               null|               null|       0|
|  100410|       200366| RETURNED|               null|               null|       0|
|  100410|       200366|  CREATED|               null|               null|       0|
|  100497|       200024|     POOL|2023-02-22 10:54:18|               null|       0|
|  100497|       200024|  CREATED|2023-02-22 10:54:18|               null|       0|
|  100539|       200012|COMPLETED|               null|2023-02-22 11:28:55|    null|
|  100539|       200012|  CREATED|               null|               null|       0|
|  100575|       200573| ASSIGNED|               null|               null|       0|
|  100575|       200573| RETURNED|               null|               null|       0|
|  100575|       200573|  CREATED|2023-02-22 10:54:41|               null|       0|
|  100259|       200192| ASSIGNED|               null|               null|       0|
|  100259|       200192|  CREATED|               null|               null|       0|
|  100563|       200421| ASSIGNED|               null|               null|       0|
|  100563|       200421| RETURNED|               null|               null|       0|
|  100563|       200421|  CREATED|               null|               null|       0|
|  100230|       200049|COMPLETED|               null|2023-02-22 18:26:50|    null|
|  100230|       200049| RETURNED|               null|               null|       0|
+--------+-------------+---------+-------------------+-------------------+--------+
only showing top 20 rows

In [22]:
df2 = df2.filter(df2.START_DATE.isNotNull())

In [23]:
# Select the desired columns and write the output to a file
# output_df = df.select("ORDER_ID", "CURRENT_STATUS", "START_DATE", "END_DATE", "DURATION")
df2.write.mode("overwrite").option("header", "true").csv("file:///home/train/dataops7/spark/hw4_03_order_status/report.csv")